

/*-----layout-------*/
.top,.bottom{width:100%}.top{top:0}.bottom{bottom:0}
.background{width:100%;height:100%;z-index:-1}
.left-sidebar,.right-sidebar{position:fixed;padding:50px 20px;height:100%;width:300px;z-index:1}.left-sidebar{left:0}.right-sidebar{right:0}
.left-sidebar{border-radius:0px 100px 0px 0px}
.top-bar{height:50px;margin-left:350px;margin-bottom:10px;border-radius:100px 0px 0px 100px}
.top-bar-content{display:inline;margin:5px 5px;padding:5px 10px;font-weight:bold;float:right}
.sidebar-title{display:block;margin:5px 10px;padding:2px 10px;font-weight:bold}
.sidebar-content{display:block;margin:2px 10px;padding:2px 10px;font-weight:bold;}
.main{margin-left:350px;padding:50px 20px;height:100%;width:100%;border-radius:100px 0px 0px 0px}
.deadCenter{margin:0;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.deadCenter-up20{margin:0;position:absolute;top:20%;left:50%;transform:translate(-50%,-50%)}
.displayWindow{padding:50px;border-radius:10px}
.center-horizontal{margin:auto;width:50%}
/*------------------*/



/*-----asthetics----*/
.logo-superBig{text-align:center;font-size:75px;font-weight:bold}


/*------------------*/



/*------------------*/

/*----text----*/
.text-white,.hover-text-white:hover{color:#ffffff!important}
.text-black,.hover-text-black:hover{color:#000000!important}
.text-darkred,.hover-text-darkred:hover{color:#b30000!important}
.text-red,.hover-text-red:hover{color:#ff0000!important}
.text-grapefruit,.hover-text-grapefruit:hover{color:#ff471a!important}
.text-orange,.hover-text-orange:hover{color:#ff5c33!important}
.text-themeRed1,.hover-text-themeRed1:hover{color:#c23b23!important}
.text-themeRed2,.hover-text-themeRed2:hover{color:#ff6961!important}
.text-themeRed3,.hover-text-themeRed3:hover{color:#fdf7c2!important}
.text-themeRed4,.hover-text-themeRed4:hover{color:#988270!important}
.text-themeRed5,.hover-text-themeRed5:hover{color:#836853!important}

.text-16{font-size:16px}
.text-24{font-size:24px}
.text-36{font-size:36px}
.text-48{font-size:48px}
.text-bold{font-weight:bold}
/*------------------*/


/*-----bg color-----*/
.white,.hover-white:hover{background-color:#ffffff!important}
.black,.hover-black:hover{background-color:#000000!important}
.darkred,.hover-darkred:hover{background-color:#b30000!important}
.red,.hover-red:hover{background-color:#ff0000!important}
.grapefruit,.hover-grapefruit:hover{background-color:#ff471a!important}
.orange,.hover-orange:hover{background-color:#ff5c33!important}
.themeRed1,.hover-themeRed1:hover{background-color:#c23b23!important}
.themeRed2,.hover-themeRed2:hover{background-color:#ff6961!important}
.themeRed3,.hover-themeRed3:hover{background-color:#fdf7c2!important}
.themeRed4,.hover-themeRed4:hover{background-color:#988270!important}
.themeRed5,.hover-themeRed5:hover{background-color:#836853!important}
/*------------------*/

/*------------------*/

/*------------------*/